<%- contentFor('hero') %>

  <section class="hero">
    <div class="hero-content">
      <h2>This is all about us!</h2>
      <p>we are learners!</p>

      <a href="/contact" class="btn btn-lg btn-primary">wanna drop us a line!</a>
    </div>
  </section>


<%- contentFor('body') %>
 <div class="jumbotron text-center">
    About Page
 </div>
